* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #F4EDE0;
  --background-secondary: #FFFFFF;
  --color-brand: #C76D46;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --border-primary: #E3D5C0;
  --border-hover: #8B5E3C;

  /*Fonte*/
  --font-inter: 'Inter','sans-serif';

  /*Tamanhos Inter*/
  --h1: 700 24px/120% var(--font-inter);
  --text: 400 16px/120% var(--font-inter);
  --perfil: 600 20px/120% var(--font-inter);
}

body {

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  font: var(--text);
  background-color: #f8f4f1;
}

