#logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}

#logo .perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  font: var(--perfil);
}

main {
  margin-top: 100px;
}

h1 {
  margin-top: 16px;
  margin-bottom: 44px;
  font: var(--h1);
  color: #533721;
}

input {
  flex: 1;
  width: 300px;
  padding: 12px;
  margin: 5px 0;
  border: solid 1px var(--border-primary);
  border-radius: 12px;
  margin-right: 12px;
  
}

input {
  flex: 1;
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: solid 1px var(--border-primary);
  border-radius: 12px;
  margin-right: 12px;
  font-size: 16px;
}


button {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  background-color: var(--color-brand);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: #ffffff;
}

ul {
  margin-top: 28px;
}

ul li {
  margin-top: 10px ;
  list-style: none;
  font-size: 16px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px 8px 12px 50px;
  background: #ffffff;
  border-radius: 12px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li:before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(../assets/icons/checkbox.svg);
  background-size: cover;
  background-position: center;
  top: 6px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(
    ../assets/icons/checkbox-active.svg
  );
}

ul li span {
  position: absolute;
  top: 1px;
  right: 2px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius:8px ;
}

ul li span:hover {
  color: rgb(212, 79, 79);
}

@media screen and (max-width: 390px) and (max-height: 844px) {

  #logo .perfil {
    font-size: 18px; 
  }

  #logo span {
    font-size: 14px;
  }

  input {
    width: 100%; 
    padding: 14px; 
    font-size: 16px; 
    border-radius: 12px;
  }

  button {
    width: 200px;
    font-size: 18px;
  }
}







